/* Estilos Globais */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #F9F9F9;
  }
  
  a {
    color: #666666;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #333;
  }
  